/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 35px 171px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 167px;
    height: 32px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 41px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}

/* First Section */
main section:first-child {
    background: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.0001) 0%, #071629 100%), url('images/Object.png');
    background-size: cover;
    background-position: center;
    height: 1093px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

main section:first-child > div:first-child {
    margin-bottom: 162px;
}

main section:first-child h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 151px;
    margin-bottom: 8px;
}

main section:first-child > div:first-child > span {
    font-size: 16px;
    font-weight: 700;
    margin: 0 26px;
}

main section:first-child button {
    background: #C271FF;
    border: none;
    border-radius: 22px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 13px 31px;
    margin-top: 30px;
    cursor: pointer;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

main section:first-child > div:nth-child(2) h2 {
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 65px;
}

main section:first-child > div:nth-child(2) > div {
    display: flex;
    gap: 58px;
    justify-content: center;
}

main section:first-child > div:nth-child(2) > div > div:first-child {
    margin-left: -50px;
}

main section:first-child > div:nth-child(2) > div > div {
    text-align: center;
}

main section:first-child > div:nth-child(2) > div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 26px;
}

main section:first-child > div:nth-child(2) > div h3 {
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    margin-bottom: 3px;
}

main section:first-child > div:nth-child(2) > div p {
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    opacity: 0.8;
}